* {
    font-family: "Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;;
}
body {
    overflow: hidden;
    background-image: url(https://images.pexels.com/photos/1323550/pexels-photo-1323550.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -25% 25%;
}
#bottomContainer {
    background-color: #dce0ecd3;
    width: 100%;
    height: 3rem;
    position: absolute;
    float: left;
    top: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}
#bottomContainer img {
    width: 3ch;
    height: fit-content;
    padding: 1vw;
    border-radius: 10px;
    margin: 0.5vw;
    transition: 0.1s;
}
#bottomContainer img:hover {
    background: rgba(255, 255, 255, 0.432);
}
#bottomContainer img:active {
    transform: scale(0.9);
}
#bottomContainer img:nth-child(9) {
    transform: rotateZ(180deg);
}
#windowsClick {
    background-color: #e1e6f7;
    width: calc(24rem + 10ch + 10% - 1em);
    height: 57ch;
    position: absolute;
    border-radius: 10px;
    left: calc(31% - 16ch + 8vw);
    visibility: hidden;
}
#windowsClick > * {
    padding-left: 6vw;
}
#accountControls {
    position: absolute;
    width: calc(50ch + 10vw + 0.59cm);
    top: 50.7ch;
    background-color: #eff2f7;
    border-radius: 10px;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.05vw;
}
#accountControls img {
    width: 3ch;
    height: 3ch;
}
#accountControls > * {
    position: relative;
}
#accountControls > *:nth-child(1) {
    right: 24ch;
}
#accountControls > *:nth-child(2) {
    right: 22ch;
}
#accountControls > *:nth-child(3) {
    left: 22ch;
}
#pinned {
    display: flex;
}
#pinned img {
    width: 3.95ch;
    height: 3.95ch;
    margin: auto;
}
#pinned div {
    border-radius: 5px;
    padding: 1.5vw;
    padding-bottom: 2vw;
    display: flex;
    align-items: center;
    /* height: 7ch; */
    /* width: 12.98ch; */
    height: 4ch;
    width: 4ch;
    margin: 0.2vw;
}
#pinned div:hover {
    background-color: rgba(255, 255, 255, 0.644);
}
#pinned div:active {
    transform: scale(0.95) skewX(1deg);
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.404);
}
#pinned span {
    position: relative;
    top: 4ch;
    right: 7ch;
    font-size: small;
    margin: 1vw 1vw 1vw auto;
}
.smallChar {
    right: 4.2ch !important;
}