* {
    font-family: "Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;;
}
body {
    overflow: hidden;
    background-image: url(https://images.pexels.com/photos/1323550/pexels-photo-1323550.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -25% 25%;
    object-fit: cover;
}
#bottomContainer {
    background-color: #dce0ecbd;
    width: 100%;
    height: 3rem;
    position: absolute;
    float: left;
    top: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    backdrop-filter: blur(1px);
}
#bottomContainer img {
    width: 3ch;
    height: fit-content;
    padding: 1vw;
    border-radius: 10px;
    margin: 0.5vw;
    transition: 0.1s;
}
#bottomContainer img:hover {
    background: rgba(255, 255, 255, 0.432);
}
#bottomContainer img:active {
    transform: scale(0.9);
}
#bottomContainer div {
    margin-left: 16ch;
}
#bottomContainer div img:nth-child(1) {
    transform: rotateZ(180deg);
}
#bottomContainer div img {
    padding: 0.1vw;
    margin: 0;
    padding-top: 0;
    margin-bottom: 0.5vw;
}
#bottomContainer div img:hover {
    background: rgba(224, 224, 224, 0.432);
}
#bottomContainer div img:nth-child(5):hover {
    background: none;
}
#bottomContainer div img:nth-child(5) {
    padding-right: 2vw;
    height: 3rem;
    margin: 0;
}
#windowsClick {
    background-color: #e1e6f7c9;
    width: calc(24rem + 10ch + 10% - 1em);
    height: 57ch;
    position: absolute;
    border-radius: 10px;
    left: calc(31% - 16ch + 8vw);
    visibility: hidden;
    backdrop-filter: blur(2px);
}
#windowsClick > * {
    padding-left: 6vw;
}
#accountControls {
    position: absolute;
    width: calc(50ch + 10vw + 0.59cm);
    top: 50.7ch;
    background-color: #c9d4e721;
    border-radius: 10px;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.05vw;
    backdrop-filter: blur(8px);
}
#accountControls img {
    width: 4ch;
    height: 4ch;
}
#accountControls > * {
    position: relative;
}
#accountControls > *:nth-child(1) {
    right: 24ch;
    border-radius: 5px;
    opacity: 0.9;
    border: solid 2px rgba(255, 255, 255, 0.137);
}
#accountControls > *:nth-child(2) {
    right: 22ch;
}
#accountControls > *:nth-child(3) {
    left: 22ch;
}
#accountControls > *:nth-child(3):hover {
    background: rgba(224, 224, 224, 0.432);
    border-radius: 10px;
}
#pinned {
    display: flex;
}
#pinned img {
    width: 3.95ch;
    height: 3.95ch;
    margin: auto;
}
#pinned div {
    border-radius: 5px;
    padding: 1.5vw;
    padding-bottom: 2vw;
    display: flex;
    align-items: center;
    /* height: 7ch; */
    /* width: 12.98ch; */
    height: 4ch;
    width: 4ch;
    margin: 0.2vw;
}
#pinned div:hover {
    background-color: rgba(255, 255, 255, 0.644);
}
#pinned div:active {
    transform: scale(0.95) skewX(1deg);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.13);
}
#pinned span {
    position: relative;
    top: 4.5ch;
    right: 7ch;
    font-size: small;
    margin: 1vw 1vw 1vw auto;
}
#recommended {
    display: flex;
}
#recommended img {
    width: 3.95ch;
    height: 3.95ch;
    margin: auto;
}
#recommended div {
    border-radius: 5px;
    padding: 1.5vw;
    padding-bottom: 2vw;
    display: flex;
    align-items: center;
    /* height: 7ch; */
    /* width: 12.98ch; */
    height: 4ch;
    width: 4ch;
    margin: 0.2vw;
}
#recommended div:hover {
    background-color: rgba(255, 255, 255, 0.644);
}
#recommended div:active {
    transform: scale(0.95) skewX(1deg);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.13);
}
#recommended span {
    position: relative;
    top: 4.5ch;
    right: 7ch;
    font-size: small;
    margin: 1vw 1vw 1vw auto;
}
#wallpaper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#searchClick {
    background-color: #e1e6f7c9;
    width: calc(24rem + 10ch + 10% - 1em);
    height: 57ch;
    position: absolute;
    border-radius: 10px;
    left: calc(31% - 16ch + 8vw);
    visibility: hidden;
    backdrop-filter: blur(2px);
}
#searchClick > * {
    padding-left: 6vw;
}
#wallpaper {
    display: grid;
    grid-template-areas: "Recycle_Bin"
                         "About";
    grid-template-rows: repeat(10, 9ch);
    grid-template-columns: repeat(10, 8ch);
    grid-gap: 10px;
}
#wallpaper *:nth-child(1) {
    grid-area: Recycle_Bin;
}
#wallpaper *:nth-child(2) {
    grid-area: About;
}
#wallpaper img {
    width: 3vw;
    height: 3vw;
}
#wallpaper span {
    text-align: center;
}
#wallpaper span:hover {
    background-color: rgba(186, 230, 233, 0.459);
}
#square {
    position: absolute;
    background-color: rgba(186, 230, 233, 0.459);
}
* {
    user-select: none;
}